{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    // "regenerator-transform",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-react-jsx-self",
    "@babel/plugin-transform-react-jsx-source",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-json-strings",
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "src"
        ],
        "alias": {
          "underscore": "lodash",
        }
      }
    ],
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]-[local]",
        "webpackHotModuleReloading": true,
        "autoResolveMultipleImports": false,
        "handleMissingStyleName": "throw",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": [
              [
                "postcss-nested",
                {
                  "preserveEmpty": true
                }
              ]
            ]
          },
        }
      }
    ]
  ]
}